:root {
  --soft-blue: #ADD8E6;
  --light-gray: #D3D3D3;
  --charcoal: #36454F;
  --subtle-mint: #98FB98;
  --white: #FFFFFF;
  --black: #000000;
  --dark-gray: #1C1C1C;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--dark-gray); /* Dark gray background */
  color: var(--light-gray); /* Light gray text color */
}

input{
	background: #1c1c1c;
	color: #00e0FF;
	font-size: 18px;
}
